* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
%flexset {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.carousel {
  @extend %flexset;
  background-color: rgb(213, 213, 213);
  height: 100px;
  overflow: scroll;
  padding: 10px;
  .wrap-flex {
    @extend %flexset;
    justify-content: flex-start;
    background-color: antiquewhite;
    overflow: scroll;
    width: 50vw;
    padding: 20px;
    gap: 6px;
    .item {
      @extend %flexset;
      background-color: azure;
      padding: 10px;
    }
  }
  button {
    position: sticky;
    transition: all 0.5s;
    z-index: -2;
    opacity: 0;
  }
  .right {
    right: 0;
  }
  .left {
    left: 0;
  }
}
