.form {
  margin-top: 20px;
  margin-left: 2%;
  display: flex;
  flex-flow: row nowrap;
  &__search {
    transition: all 0.3s ease-in-out;
    background-color: #f3f6fb;
    outline: none;
    border: none;
    width: 40px;
    height: 40px;
    border-radius: 0.8rem;
    margin-right: 10px;
    background-image: url("../../img/searchIcon.svg");
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
    &:hover {
      z-index: 10;
      background-color: #dce9ff;
    }
  }
  &__input {
    height: 40px;
    width: 80%;
    margin-right: 2%;
    border: none;
    outline: none;
    border-bottom: 1px solid #96a3b129;
    color: #6166f7;
    transition: all 0.3s;
    &::placeholder {
      color: #c6cbd4;
    }
    &:focus {
      border-bottom: 1px solid #6166f7;
    }
  }
}
.ex-forecast {
  &__title {
    margin: 3% 0 3% 3%;
  }
}
